<!--Right Col-->
<div class="w-full xl:w-3/5 p-12 overflow-hidden">
    <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="macbook.svg"/>
</div>

<div class="mx-auto md:pt-16">
    <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center">
        Download our app:
    </p>
    <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
        <img src="App Store.svg" class="h-12 pr-12 transform hover:scale-125 duration-300 ease-in-out"/>
        <img src="Play Store.svg" class="h-12 transform hover:scale-125 duration-300 ease-in-out"/>
    </div>
</div>
