<!--Right Col-->
<div class="w-full xl:w-3/5 p-12 overflow-hidden">

    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
        <p class="w-full text-gray-600 text-xs md:text-sm pt-6 px-6">Présentation</p>
        <div class="w-full font-bold text-xl text-gray-900 px-6">👋 Bienvennue sur ✅ <span class="text-indigo-400">Fact</span><span class="bg-clip-text text-transparent bg-gradient-to-r from-gray-300 via-grey-500 to-indigo-500">checker</span>, la plateforme qui vous permet de vérifiez les infos que vous recevez.</div>
        <p class="text-gray-800 font-serif text-base px-6 mb-5">
            Chaque jour, des millions d’informations pleuvent sur le monde, elles sont <b>rarement sourcées</b> et ne sont
            pas remises en question : chacun·e se les approprie, oubliant son esprit critique. Quant aux <b>sachant·e·s</b>
            capables de les évaluer, il·elle·s ne peuvent raisonnablement pas tout surveiller : journalistes, spécialistes
            et scientifiques, ne sont pas assez nombreu·x·ses pour nous aider à démêler le vrai du faux.
        </p>
    </div>

    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
        <div class="flex items-center justify-between">
            <a href="https://bourse.coddity.com/" target="_blank" class="">
                <svg class="w-12 h-12 mr-4 avatar logohome" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 406" enable-background="new 0 0 330 406" xml:space="preserve"><g><path fill="#CD4442" d="M27.1,405.823c-3.605,0-7.08-0.681-10.326-2.02c-3.248-1.334-6.22-3.311-8.832-5.87c-2.579-2.574-4.559-5.539-5.9-8.824c-1.338-3.278-2.016-6.765-2.016-10.36c0-3.599,0.679-7.075,2.018-10.327c1.341-3.253,3.316-6.225,5.872-8.831c2.643-2.588,5.614-4.562,8.86-5.896c6.804-2.803,14.81-2.688,21.604,0.452c3.382,1.582,6.388,3.788,8.942,6.559l0.296,0.43c0.457,0.914,0.29,1.971-0.427,2.688c-0.583,0.577-1.194,0.697-1.604,0.697c-0.674,0-1.306-0.325-1.734-0.894c-2.021-2.283-4.516-4.137-7.326-5.402c-5.82-2.635-12.411-2.699-18.061-0.357c-2.722,1.124-5.174,2.767-7.29,4.884c-2.165,2.16-3.834,4.64-4.96,7.362c-1.126,2.726-1.697,5.629-1.697,8.637s0.57,5.914,1.697,8.637c1.125,2.723,2.795,5.202,4.96,7.362c2.115,2.117,4.567,3.762,7.288,4.886c5.785,2.395,12.588,2.235,18.269-0.423c2.977-1.399,5.577-3.399,7.726-5.949c0.429-0.611,1.066-0.956,1.772-0.956c0.404,0,1.004,0.118,1.568,0.674l0.182,0.209c0.708,0.948,0.633,2.171-0.185,2.979c-2.443,2.975-5.572,5.412-9.176,7.104C35.014,404.965,31.139,405.823,27.1,405.823z"></path><path d="M82.795,405.363c-3.551,0-6.989-0.681-10.215-2.018c-3.229-1.343-6.141-3.296-8.651-5.81c-2.507-2.505-4.461-5.399-5.802-8.604c-1.343-3.205-2.023-6.654-2.023-10.26s0.68-7.057,2.023-10.261c1.339-3.2,3.292-6.095,5.803-8.605c2.51-2.51,5.421-4.464,8.649-5.807c6.503-2.699,14.116-2.661,20.478,0.003c3.199,1.343,6.094,3.296,8.603,5.802c2.509,2.513,4.464,5.407,5.804,8.606c1.343,3.205,2.022,6.656,2.022,10.262s-0.679,7.055-2.02,10.26c-1.345,3.204-3.296,6.099-5.803,8.606c-2.512,2.508-5.406,4.464-8.605,5.801C89.853,404.683,86.398,405.363,82.795,405.363z M82.795,356.473c-2.958,0-5.813,0.559-8.488,1.661c-2.669,1.102-5.096,2.731-7.208,4.843c-2.114,2.114-3.743,4.539-4.843,7.21c-1.103,2.669-1.66,5.523-1.66,8.486c0,2.962,0.557,5.817,1.66,8.485c1.098,2.669,2.729,5.094,4.843,7.208c2.116,2.115,4.541,3.746,7.208,4.845c5.341,2.199,11.635,2.199,16.973,0c2.672-1.099,5.097-2.731,7.209-4.845c2.112-2.112,3.741-4.537,4.846-7.208c1.099-2.674,1.659-5.529,1.659-8.485c0-2.958-0.56-5.812-1.659-8.487c-1.105-2.672-2.734-5.098-4.846-7.209c-2.109-2.111-4.536-3.741-7.209-4.844C88.607,357.031,85.752,356.473,82.795,356.473z"></path><path d="M135.125,405.363h-12.263c-1.28,0-2.245-0.965-2.245-2.244v-48.893c0-1.28,0.965-2.247,2.245-2.247h12.263c3.764,0,7.496,0.803,11.092,2.381c3.362,1.547,6.325,3.732,8.834,6.511c2.195,2.472,3.886,5.258,5.032,8.291c1.147,3.035,1.73,6.232,1.73,9.511c0,3.121-0.553,6.225-1.644,9.219c-1.099,2.965-2.629,5.603-4.547,7.854c-2.553,3.092-5.66,5.503-9.221,7.147C142.85,404.531,139.054,405.363,135.125,405.363z M125.109,400.873h10.016c3.283,0,6.447-0.704,9.399-2.085c2.955-1.384,5.523-3.369,7.638-5.905c1.595-1.972,2.891-4.184,3.836-6.55c0.87-2.517,1.325-5.124,1.325-7.66c0-2.722-0.486-5.369-1.449-7.878c-0.962-2.511-2.38-4.833-4.213-6.905c-1.029-1.168-2.168-2.212-3.384-3.103c-1.234-0.899-2.555-1.692-3.924-2.353c-1.453-0.635-2.987-1.138-4.491-1.467c-1.498-0.327-3.089-0.495-4.736-0.495h-10.016V400.873z"></path><path d="M186.963,405.363h-12.262c-1.28,0-2.245-0.965-2.245-2.244v-48.893c0-1.28,0.965-2.247,2.245-2.247h12.262c3.765,0,7.495,0.803,11.093,2.381c3.363,1.547,6.324,3.732,8.835,6.511c2.194,2.472,3.885,5.258,5.031,8.291c1.148,3.035,1.729,6.232,1.729,9.511c0,3.121-0.554,6.225-1.645,9.219c-1.099,2.965-2.625,5.603-4.544,7.854c-2.554,3.092-5.66,5.503-9.223,7.147C194.689,404.531,190.893,405.363,186.963,405.363z M176.948,400.873h10.015c3.285,0,6.449-0.704,9.399-2.085c2.953-1.384,5.523-3.369,7.638-5.905c1.596-1.972,2.892-4.184,3.837-6.55c0.87-2.517,1.324-5.124,1.324-7.66c0-2.722-0.485-5.369-1.448-7.878c-0.962-2.511-2.381-4.833-4.213-6.905c-1.03-1.168-2.168-2.212-3.384-3.103c-1.235-0.899-2.556-1.692-3.925-2.353c-1.454-0.635-2.987-1.138-4.492-1.467c-1.498-0.327-3.09-0.495-4.736-0.495h-10.015V400.873z"></path><path d="M226.543,405.363c-1.281,0-2.246-0.965-2.246-2.244v-49.197c0-1.281,0.965-2.247,2.246-2.247c1.28,0,2.246,0.966,2.246,2.247v49.197C228.789,404.398,227.823,405.363,226.543,405.363z"></path><path d="M258.726,405.363c-1.281,0-2.248-0.965-2.248-2.244v-46.494H240.41c-1.281,0-2.246-0.964-2.246-2.244s0.965-2.245,2.246-2.245h36.629c1.28,0,2.246,0.965,2.246,2.245s-0.966,2.244-2.246,2.244H260.97v46.494C260.97,404.398,260.005,405.363,258.726,405.363z"></path><path d="M309.263,405.363c-1.281,0-2.247-0.965-2.247-2.244v-26.008l-17.567-21.589c-0.39-0.375-0.624-0.859-0.663-1.387c-0.028-0.371,0.024-1.095,0.692-1.763l0.36-0.281c1.09-0.652,2.382-0.361,3.016,0.594l16.406,20.052l16.413-20.147c0.561-0.568,1.113-0.8,1.693-0.8c0.318,0,0.79,0.071,1.282,0.402c0.474,0.286,0.813,0.724,0.963,1.245c0.118,0.421,0.167,1.082-0.289,1.831l-0.148,0.212l-17.667,21.635v26.004C311.507,404.398,310.543,405.363,309.263,405.363z"></path></g><g><g class="logoblack"><polygon fill="#333" points="249.52,58.315 169.503,58.315 114.713,175.004 141.375,161.657 141.375,161.657 150.841,156.918 156.45,154.016 106.913,262.415 242.857,112.062 193.605,135.428 	"></polygon><polygon fill="#333" points="155.818,58.315 98.223,183.263 109.051,177.84 165.49,58.315 	"></polygon><polygon fill="#333" points="150.841,156.918 141.375,161.657 85.843,285.72 99.266,270.874 	"></polygon><path fill="#333" d="M165,327.489c-90.719,0-164.523-72.903-164.523-162.513C0.477,75.368,74.281,2.466,165,2.466s164.523,72.902,164.523,162.511C329.523,254.586,255.719,327.489,165,327.489z M165,7.91C77.32,7.91,5.988,78.369,5.988,164.977c0,86.607,71.333,157.069,159.012,157.069c87.679,0,159.012-70.462,159.012-157.069C324.012,78.369,252.679,7.91,165,7.91z"></path><path fill="#333" d="M165,320.355c-86.736,0-157.302-69.703-157.302-155.379C7.698,79.301,78.264,9.599,165,9.599c86.735,0,157.3,69.702,157.3,155.377C322.3,250.652,251.735,320.355,165,320.355z M165,15.043c-83.698,0-151.791,67.26-151.791,149.934c0,82.675,68.093,149.936,151.791,149.936c83.697,0,151.789-67.261,151.789-149.936C316.789,82.303,248.697,15.043,165,15.043z"></path></g><g class="logocolor hide"><g class="lightning"><polygon fill="#CD4442" points="249.52,58.315 169.503,58.315 114.713,175.004 141.375,161.657 141.375,161.657 150.841,156.918 156.45,154.016 106.913,262.415 242.857,112.062 193.605,135.428 	"></polygon><polygon fill="#1787B9" points="155.818,58.315 98.223,183.263 109.051,177.84 165.49,58.315 	"></polygon><polygon fill="#1787B9" points="150.841,156.918 141.375,161.657 85.843,285.72 99.266,270.874 	"></polygon><polygon fill="#FFFFFF" points="165.49,58.315 109.051,177.84 114.713,175.004 169.503,58.315 	"></polygon><polygon fill="#FFFFFF" points="106.913,262.415 156.45,154.016 150.841,156.918 99.266,270.874 	"></polygon></g><g class="circles"><path fill="#1787B9" d="M165,327.489c-90.719,0-164.523-72.903-164.523-162.513C0.477,75.368,74.281,2.466,165,2.466s164.523,72.902,164.523,162.511C329.523,254.586,255.719,327.489,165,327.489z M165,7.91C77.32,7.91,5.988,78.369,5.988,164.977c0,86.607,71.333,157.069,159.012,157.069c87.679,0,159.012-70.462,159.012-157.069C324.012,78.369,252.679,7.91,165,7.91z"></path><path fill="#CD4442" d="M165,320.355c-86.736,0-157.302-69.703-157.302-155.379C7.698,79.301,78.264,9.599,165,9.599c86.735,0,157.3,69.702,157.3,155.377C322.3,250.652,251.735,320.355,165,320.355z M165,15.043c-83.698,0-151.791,67.26-151.791,149.934c0,82.675,68.093,149.936,151.791,149.936c83.697,0,151.789-67.261,151.789-149.936C316.789,82.303,248.697,15.043,165,15.043z"></path></g></g></g></svg>                
            </a>
        </div>
    </div>

{% if not app.user %}
    <div class="flex w-full justify-center justify-between my-5">
        <div class="flex w-full md:w-1/2 justify-center">
            <a href="/login" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded cursor-pointer">
                Log In
            </a>
        </div>
        <div class="flex w-full md:w-1/2 justify-center">
            <a href="/register" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded cursor-pointer">
                Register
            </a>
        </div>
    </div>    
{% else %}
    <div class="flex w-full justify-center justify-between my-5">
        <div class="flex w-full md:w-1/2 justify-center">
            {# <button  onclick="openModal(true)" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded cursor-pointer">
                go to fact
            </button> #}
            <a href="/topic" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded cursor-pointer">
                go to fact
            </a>
        </div>
        <div class="flex w-full md:w-1/2 justify-center">
            <a href="/logout" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded cursor-pointer">
                Log Out
            </a>
        </div>
    </div>        
{% endif %}

</div>

<div class="mx-auto md:pt-16">
    <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center">
        Concours pour l’obtention de la Bourse Coddity 2021
    </p>
    <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">

        <div class="flex w-full md:w-1/2 justify-center">
            <div class="px-8">
                <h3 class="font-bold font-bold text-600-100 whitespace-nowrap">
                    By <a href="https://adriennickson.github.io/" target="_blank" class="underline font-semibold">A. N. MOMO</a>
                </h3>
            </div>
        </div>
        <div class="flex w-full md:w-1/2 justify-center">
            <div class="px-8">
                <h3 class="font-bold font-bold text-600-100 whitespace-nowrap">
                    For <a href="https://coddity.com/" target="_blank" class="underline font-semibold">CODDITY</a>                            
                </h3>
            </div>
        </div>

    </div>
</div>
